<div class="h-full w-full relative">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-lime-500 mt-10">Welcome to my project</h1>    
  </div>

  <div class="border rounded-xl border-yellow-500 max-w-[800px] w-full p-10 mt-5 absolute left-1/2 transform -translate-x-1/2 flex justify-center">
    <div class="container grid grid-cols-3 gap-4">
      <div class="bg-blue-500 text-white p-5 rounded-lg">
        PayPal
      </div>
      <div class="bg-green-500 text-white p-5 rounded-lg">
        Mercado Pago
      </div>
      <div class="bg-red-500 text-white p-5 rounded-lg">
        Card
      </div>
    </div>
  </div>
</div>